/*SSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */

header{
  background:#26d0c9;
  color:#fff;
  height:90px;
}

.h-logo{
  font-size:36px;
  padding:20px 40px;
  float:left;
}

.h-li{
  float:left;
  padding:33px 20px;
}

.top{padding:100px 80px;}

h1{ font-size:140px;}
span{color:#ff4a4a;}

h2{ font-size:60px;}

.lesson{
  padding:0px 80px 100px 80px;
  height:500px;
}

h3{
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  padding-bottom:15px;
  margin-bottom:50px;
}

.m-lesson{
  float:left;
  margin-right:40px;
  font-size:24px;
}

.m-lesson p{
  margin-top:30px;
}

.messege{padding:0px 80px 100px 80px;}

.mess-p p{
  
}

input, textarea{
  border:1px solid #dee7ec;
  width:400px;
  font-size:18px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
}

.messe-b{
  background-color:#dee7ec;
  color:#889eab;
}

footer{
  height:200px;
  background-color:#2f5167;
  color:#fff;
}
.foot{
  height:120px;
}

h4{
  float:left;
  font-size:32px;
  padding:40px;
}

.foot{
  float:right;
  padding:40px;
}
.foot li{
  padding-bottom:20px;
}

